/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Times New Roman';
}

.container{
height: 100%;
align-content: center;
}

.card-outer{
height: 700px;
margin-top: auto;
margin-bottom: auto;
width: 2500px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}
.social_icon a{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon a:hover{
color: white;
cursor: pointer;
}
.card-body{
	overflow-y:auto;
}
.card-body h3{
color: white;
text-align:left;
align-content: left;
}
.card-body img{
	float:right;
	width=207px;
	height=205px;
}
.addr-mail{
align-content:left;
margin: auto;
border: 3px;
padding:10px;
}
.addr-mail h6{
color: white;
font-size:2vw;
padding:2px;
}
.check{
background-color: white;
width: 600px;
}
.check h4{
color: black;
margin-left: 0.5em;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}
.nav-link{
	color: white;
}
.aboutme{
	color: white;
	text-align:center;
	font-family:"Comic Sans MS";
}
.spacer-all{
	padding :50px;
}
.spacer-all-exception{
	padding :20px;
}
.aboutme h3{
	color: white;
	text-align:center;
	padding :5px;
}
.aboutme p{
	padding :2px;
	font-size:3.0em;
	color: white;
	text-align:center;
}
.cvmine{
	align:center;
}
.card-to-right{
	float: right;
  padding-right:30px;
}
.card-dimension{
	width: 18rem; 
	height: 17rem;
	font-family:"Arial";
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  float: right;
  padding-right:30px;
}
.flip-card-left{
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  float: left;
  padding-left:30px;
}
.flip-card-test {
  
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-left:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  z-index: 2;
}

.flip-card-back {
  background-color: #000000;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}
.set-white{
font-family:"Garamond";
  color: white;

}
.set-progress-role{
	padding-right:480px;
}
input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}
.static-value{
	position:absolute;
	left:10px;
	font-weight:bold;
	font-size:0.8em;
	color:#444;
	top:9px;
}


.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}




